<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="/css/base.css" type="text/css" charset="utf-8">
</head>
<body>
<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Sign Out </a>

<a href="/" class="btn btn-default"><span class="fa fa-home"></span> Home </a>
<br></br>

{{{ body }}}
<h3>

<a href="/ceasershift" class="btn btn-default"><span class="fa fa-bolt" aria-hidden="true"></span> Caesar-Shift</a> 


<a href="/vigenere" class="btn btn-default"><span class="fa fa-bolt" aria-hidden="true"></span> Vigenere</a>

 
</h3>

</body>
</html>
